<div class="card card-body p-4 text-white" id="conten">
<h3 class="titulo">Alta para profesores</h3>
<form action="/profesor/agregar" method="POST" class="formulario">
<br>
    <div>
        <label for="rfc" class="dato">Introduzca su RFC: </label>
        <input type="text" name="rfc" placeholder="RFC:" id="rfc"
        class="form-control text-black" autofocus>
    </div>
    <br>
    <div>
        <label for="nombres" class="dato">Introduzca un nombre: </label>
        <input type="text" name="nombres" placeholder="Ej. Juan Antonio:" id="nombres" 
        class="form-control text-black">
    </div>
    <br>
    <div>
        <label for="paterno" class="dato">Apellido paterno: </label>
        <input type="text" name="paterno" placeholder="Primer apellido:" id="paterno" 
        class="form-control text-black">
    </div>
    <br>
     <div>
        <label for="materno" class="dato">Apellido materno: </label>
        <input type="text" name="materno" placeholder="Segundo apellido:" id="materno" 
        class="form-control text-black">
    </div>
    <br>
     <div>
        <label for="" class="dato">Fecha de Nacimiento: </label>
        <label for="fechaNacimiento"> </label>
        <input type="date" name="fechaNacimiento" placeholder="" id="fechaNacimiento" 
        class="form-control text-black">
        <br>
    </div>
    
    <div>
        <label for="direccion" class="dato">Ingrese su direccion: </label>
        <input type="text" name="direccion" placeholder="Ej. Colonia Doctores, num 34" id="direccion" 
        class="form-control text-black">
    </div>
    <br>
    <div>
        <label for="celular" class="dato">Ingrese no. celular: </label>
        <input type="text" name="celular" placeholder="(+55) Numero " id="celular" 
        class="form-control text-black">
    </div>
    <br>
    <div>
        <label for="profesion" class="dato">Especifique profesion: </label>
        <input type="text" name="profesion" placeholder="Profesion: " id="profesion" 
        class="form-control text-black">
    </div>
    <br>
    <div>
        <label for="numeroEmpleado" class="dato">Ingrese Num. Empleado: </label>
        <input type="number" name="numeroEmpleado" placeholder="No. Empleado" id="numeroEmpleado" 
        class="form-control text-black">
    </div>
    <br>
    <button class="btn" id="agr">Agregar <i class="fa-solid fa-user-check"></i></button>
</form>
</div>