<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> materias/materiaForm}}
        </div>
        <div class="col-md-7">
            {{> materias/materiaTabla}}
        </div>
    </div>
</div>