<body id="index">

  <header id="head">
    <div id="subtitulos">
      <h1 class="title" id="pro">Tecnologias Computacionales I</h1>
      <h4 class="title" id="sub">CRUD con mongoDB Atlas</h4>
      <a href="/agregarAlum" class="btn" id="bton">Iniciar</a>
    </div>
  </header>

  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="/slider/1.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/2.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/3.1.png" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/3.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/4.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/5.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/6.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/7.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/8.png" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/1.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/2.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/3.1.png" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/3.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/4.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/5.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/6.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/7.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/slider/8.png" alt="" />
      </div>
    </div>
  </div>

<div id="funcion">
  <section class="content sau">
    <div id="opci">
      <h1 class="title" id="opc">FUNCIONALIDADES</h1>
      <p>
        En este apartado podra conocer mas detalles acerca de las diferentes
        funcionalidades que pueden ser realizadas en cada una de las tablas
        disponibles. Esta pagina fue desarrollada a traves de mongoDB Atlas, y
        handlebars para llevar un control optimo sobre los registros de una
        escuela a traves de un CRUD con una interfaz amigable para el usuario.
      </p>
    </div>
    <div id="op">
      <p id="sop">
        Operaciones disponibles para cada tabla!
      </p>
    </div>

    <div class="box-container" id="operaciones">

      <div class="box">
        <i class="fa-sharp fa-solid fa-circle-check"></i>
        <h1>Agregar</h1>
        <p>Ingrese datos de una tabla en concreto para crear un registro!</p>
      </div>

      <div class="box">
        <i class="fa-solid fa-user-pen"></i>
        <h1>Actualizar</h1>
        <p>Modifique la Informacion de sus registros!</p>
      </div>

      <div class="box">
        <i class="fa-sharp fa-solid fa-trash"></i>
        <h1>Eliminar</h1>
        <p>Elimine los registros que ya no le sean utiles!</p>
      </div>

    </div>

  </section>
  </div>

  <section class="content about">
    <div id="opci2">
      <h1 class="title">DATOS DEL PROGRAMADOR:</h1>
    </div>
    <div class="box-container2" id="about">

      <div class="box">
        <img src="icons/logo.jpg" alt="" />
        <div>
          <h1 class="datos">Estudios: </h1>
          <p>Perteneciente al Centro Universitario UAEM Valle de Chalco</p>
          <p>Telefono de la Institucion: 55 5971 4940</p>
          <p>Numero de cuenta: 1929090</p>
        </div>
        <div class="stars">

          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>

        </div>

      </div>

      <div class="box">
        <div>
          <img src="icons/programador.jpg" alt="" />
        </div>
        <div>
          <h1 class="datos">Datos personales:</h1>
          <p>Farid Hussein Garcia San Luis</p>
          <p>Estudiante de Octavo Semestre de Ingenieria en Computacion</p>
          <p>Edad: 21 años</p>
        </div>

        <div class="stars">
          <br />
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>

        </div>

      </div>

      <div class="box">
        <div>
          <img src="icons/hobbies.jpg" alt="" />
        </div>
        <div>
          <h1 class="datos">Cualidades:</h1>
          <p>Soy un estudiante que sabe trabajar en equipo pero tambien valerse
            por si mismo, disciplinado y autodidacta, nunca me quedo con lo que
            se, cada dia quiero aprender mas!
          </p>
        </div>

        <div class="stars">
          <br />
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>

        </div>

      </div>

    </div>

  </section>

  <section class="content contact">
    <div>
      <h1 class="title" id="contacto">Contacto</h1>
    </div>
    <div class="footer-section" id="imgf">

      <div class="redes-container">

        <div id="phone">
          <p class="cen"><i class="fa-solid fa-phone" id="cel"></i>
            [55] 17364540</p>
        </div>

        <ul>
          <li><a
              href="https://www.facebook.com/rifad.nessiuh.39/"
              target="_blank"
              class="facebook"
            ><i class="fab fa-facebook-f"></i></a></li>
          <li><a
              href="https://github.com/rnessiuh23"
              target="_blank"
              class="github"
            ><i class="fa-brands fa-github"></i></a></li>
          <li><a
              href="https://www.instagram.com/fgarsas98/"
              target="_blank"
              class="instagram"
            ><i class="fab fa-instagram"></i></a></li>
          <li><a href="" class="twitter"><i class="fab fa-twitter"></i></a></li>
          <li><a href="" class="pinterest"><i
                class="fab fa-pinterest-p"
              ></i></a></li>
          <li><a href="" class="linkedin"><i
                class="fab fa-linkedin-in"
              ></i></a></li>
        </ul>
      </div>

      <figure id="figure">
        <img src="icons/contacto.jpg" height="300px" width="100%" alt="mapa" />
      </figure>

    </div>
  </section>

</body>