<div class="card card-body p-4 text-white" id="cont">
<form action="/asignatura/agregar" method="POST">
<h3 class="titulo">Alta para asignaturas</h2>
<br>
  <div>
    <label class="dato" for="nombre">Introduzca un nombre: </label>
    <input
      type="text"
      name="nombre"
      placeholder="Nombre de la Materia: "
      id="nombre"
      class="form-control text-black"
      autofocus
    />
  </div>
  <br />
  <div>
    <label class="dato" for="creditos">Ingrese los creditos: </label>
    <input
      type="number"
      name="creditos"
      placeholder="Creditos: "
      id="creditos"
      class="form-control text-black"
    />
  </div>
  <br />
  <div>
    <label class="dato" for="horas">Ingrese las horas: </label>
    <input type="number" name="horas" placeholder="Horas: " id="horas"
    class="form-control text-black" />
  </div>
  <br />
  <button class="btn" id="agr">Agregar <i class="fa-solid fa-file-circle-plus"></i></button>
</form>
<br>
</div>