  <nav class="navegacion">
    <ul class="menu-horizontal">
      <li><a href="/">Inicio <i class="fa-solid fa-house"></i></a></li>
      <li>
        <a href="/agregarAlum">Alumnos <i class="fa-solid fa-users"></i></a>
        <!--<ul class="menu-vertical">
          <li><a href="/agregarAlum">Lista de Alumnos</a></li>
          <li><a href="/agregarAlum">Agregar Alumno</a></li>     
        </ul>-->
      </li>


      <li>
        <a href="/agregarAsig">Asignaturas <i class="fa-solid fa-book"></i></a>
        <!--<ul class="menu-vertical">
          <li><a href="/agregarAsig">Lista de Asignaturas</a></li>
          <li><a href="/agregarAsig">Agregar Asignaturas</a></li>
        </ul>-->
      </li>


      <li>
        <a href="/agregarProf">Profesores <i class="fa-solid fa-user-tie"></i></a>
        <!--<ul class="menu-vertical">
          <li><a href="/agregarProf">Lista de Profesores</a></li>
          <li><a href="/agregarProf">Agregar Profesores</a></li>
        </ul>-->
      </li>
    </ul>
  </nav>
  