  <nav class="navegacion">
    <ul class="menu-horizontal">
      <li><a href="/">Inicio</a></li>
      <li>
        <a href="/agregarAlum">Alumnos</a>
        <!--<ul class="menu-vertical">
          <li><a href="/agregarAlum">Lista de Alumnos</a></li>
          <li><a href="/agregarAlum">Agregar Alumno</a></li>     
        </ul>-->
      </li>


      <li>
        <a href="/agregarAsig">Asignaturas</a>
        <!--<ul class="menu-vertical">
          <li><a href="/agregarAsig">Lista de Asignaturas</a></li>
          <li><a href="/agregarAsig">Agregar Asignaturas</a></li>
        </ul>-->
      </li>


      <li>
        <a href="/agregarProf">Profesores</a>
        <!--<ul class="menu-vertical">
          <li><a href="/agregarProf">Lista de Profesores</a></li>
          <li><a href="/agregarProf">Agregar Profesores</a></li>
        </ul>-->
      </li>
    </ul>
  </nav>
  