body {
    background-image: url('/icons/fondo3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
}

.bg-black {
    background: black;
}

nav{
    max-width: 950px;
    margin: auto;
    background-color: #17ad37;
    font-size: 15px;
    margin-top: 1%; /*Espacio entre la barra de navegacion y la pestaña del navegador*/
    border-radius: 20px;
}
.menu-horizontal{
    width: 93%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-radius: 5%;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 40px;
    color: white; /*Esto es el color de la letra*/
    text-decoration: none;
    font-weight: bold;
}
.menu-horizontal > li:hover{
    background: linear-gradient(180deg, #67b108 0%, #82d616 100%);
    transition: all .3s;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

#agr {
    background: linear-gradient(180deg, #15803d 0%, #17ad37 100%);
    transition: all .3s;
    color: white;
    border-radius: 10px;
}

#agr:hover{
    background: linear-gradient(180deg, #67b108 0%, #82d616 100%);
    transition: all .3s;
    margin-left: 20px;
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.titulo {
    color: #15803d;
    font-style: italic;
}

.dato{
    color: #15803d;
    font-weight: bold;
    font-style: italic;
}

.table {
    background-color: rgb(255, 255, 255, 0.8);
}

.dato2{
    color: black;
}

textarea:focus, input:focus, input[type]:focus {
    border-color: #15803d;
    box-shadow: 0 1px 1px #15803d inset, 0 0 5px #15803d;
    outline: 0 none;
}

/*Creacion de las opciones de la clase 'sexo'*/

.formulario .radio label{
    color: black;
    padding: 5px 15px 5px 20px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.formulario input[type="radio"]:checked + label{
    padding: 5px 15px;
    background: #17ad37;
    border-radius: 3px;
    color: #fff;
}

.formulario input[type="radio"]:checked + label:before{
    display: none;
}

.formulario .radio #Fem{
    margin-left: 20px;
}

#tabla{
    border-color: white;
    background-color: white;
}

#editar{
    background: linear-gradient(180deg, #2152ff 0%, #3b82f6 100%);
    transition: all .3s;
    color: white;
    border-radius: 5px;
    border-color: #3b82f6;
}

#editar:hover{
    background: linear-gradient(180deg, #3b82f6 0%, #38bdf8  100%);
    
}

#eliminar{
    border-radius: 5px;
}

#baja{
    border-radius: 5px;
}

#ins{
    border-radius: 5px;
}

#editAlum{
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px; 
}

#guardar{
    background: linear-gradient(180deg, #15803d 0%, #17ad37 100%);
    transition: all .3s;
    color: white;
    border-radius: 5px;
}

#guardar:hover{
    background: linear-gradient(180deg, #67b108 0%, #82d616 100%);
    transition: all .3s;
    margin-left: 5px;
}

#volver{
    background: linear-gradient(180deg, #f59e0b 0%, #fbc400 100%);
    transition: all .3s;
    color: white;
    border-radius: 5px;
    border-color: #fbc400;
    margin-left: 50px;
    width: 100px;
}

#volver:hover{
    background: linear-gradient(180deg, #eab308 0%, #fbcf33 100%);
    transition: all .3s;
    margin-right: 5px;
}
